
footer.footer 
	.container
		.footer__languages
			p.footer__main-language Русский

		ul.footer__menu.footer-menu
			li.footer-menu__item
				a.footer-menu__link(href="") Услуги сайта
			li.footer-menu__item
				a.footer-menu__link(href="") О нас
			li.footer-menu__item
				a.footer-menu__link(href="") Контакты
			li.footer-menu__item
				a.footer-menu__link(href="") Новости сайта
			li.footer-menu__item
				a.footer-menu__link(href="") Ресурсы
			li.footer-menu__item
				a.footer-menu__link(href="") Условия использования

		.footer__application-seeker
			a.footer__application(href="#")
				img(src="img/apple.svg", alt="")
			a.footer__application(href="#")
				img(src="img/google.svg", alt="")
			a.footer__seeker(href="#") Соискателю

		.footer__copyright © 2006–2016 Work.ua. Сайт поиска <br>работы №1 в Украине.

		.footer__bottom.footer-bottom
			.footer-bottom__madein Сделано в компании «<a href="">Реактор</a>».
			ul.footer-bottom__list
				li.footer-bottom__item
					a.footer-bottom__link(href="") Образование
				li.footer-bottom__item
					a.footer-bottom__link(href="") Тренинги
				li.footer-bottom__item
					a.footer-bottom__link(href="") Typing tutor